@font-face {
  font-family: Titillium;
  src: url(../assets/Titillium_Web/TitilliumWeb-Regular.ttf);
}

@font-face {
  font-family: TitilliumBold;
  src: url(../assets/Titillium_Web/TitilliumWeb-Bold.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../assets/Open_Sans/OpenSans-Regular.ttf);
}

body {
  background-color: #011638;
  margin: 0;
  font-family: OpenSans;
}

.content {
  margin: auto;
  padding-top: 4rem;
  width: 55%;
  padding-bottom: 30%;
}

.navText a {
  float: right;
  right: 35%;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 18px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Titillium Web";
}

.navBar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 52%;
  padding-right: 25%;
  padding-left: 23%;
  background-color: #011638;
}

.navBar img {
  max-height: 64px;
  float: left;
}

h1 {
  font-weight: 700;
  font-family: "Titillium Web";
  font-size: 60px;
  color: #45f0df;
  margin-bottom: 10px;
  margin-top: 10px;
}

h2 {
  font-weight: 700;
  font-family: "Titillium Web";
  font-size: 45px;
  color: #45f0df;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 25px;
  padding-bottom: 0.5em;
}

a {
  color: #ff6b6b;
  text-decoration: none;
}

a:active {
  color: #8789c0;
}

#projectImg {
  width: 100%;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
}

#projectImg:hover {
  opacity: 0.5;
}

.projectBlockRow1 {
  width: 30%;
  display: inline-block;
  padding-right: 3%;
  text-align: center;
  position: relative;
}

.overlayText {
  margin: 0 auto;
  position: absolute;
}

.pitch {
  font-size: 17px;
  line-height: 1.8em;
  color: white;
  max-width: 70%;
  margin-bottom: 100px;
}

.profilePic {
  float: left;
  margin-right: 60px;
  width: 300px;
  margin-bottom: 30%;
}

.introduction {
  margin-top: 3rem;
  float: right;
  color: white;
  font-size: 20px;
}

.introduction h1 {
  font-size: 45px;
}

.introduction p {
  font-size: 17px;
}
